
body {
    font-family: Arial, sans-serif;
    background: radial-gradient(#f6c 15%, rgba(0,0,0,0) 16%), radial-gradient(#6cf 15%, rgba(0,0,0,0) 16%), #fc0;
  background-position: 0 0, 30px 30px;
  background-origin: padding-box;
  background-clip: border-box;
  background-size: 60px 60px;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    background-color: aqua;
    color:black;
    padding: 20px;
    font-size: 2.5em;
    margin: 0;
}

p {
    text-align: center;
    background-color: #f6c;
    color:black;
    font-size: 1.2em;
    padding: 10px;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container p {
    margin: 15px 0;
}